*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#repositories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
#repositories>div{
    border: 1px solid black;
}
.topics{
    display: flex;
    gap: 7px;
}
.topics span {
    color: white;
    background: rgb(104, 104, 234);
    padding: 4px 3px;
    border-radius: 3px;
}